<!doctype html>
<title>Check if a number is palindrom or not</title>
<h2>Enter the number to check</h2>
<!-- <p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p> -->
<form method="post" action="\" >
    <dl>
		<p>
			<input type="number" name="number" autocomplete="off"  required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
