.vscode/c_cpp_properties.json
canny_edge_detection/cmake_install.cmake
canny_edge_detection/CMakeCache.txt
canny_edge_detection/Makefile
canny_edge_detection/CMakeFiles/cmake.check_cache
canny_edge_detection/CMakeFiles/CMakeDirectoryInformation.cmake
canny_edge_detection/CMakeFiles/CMakeOutput.log
canny_edge_detection/CMakeFiles/Makefile.cmake
canny_edge_detection/CMakeFiles/Makefile2
canny_edge_detection/CMakeFiles/progress.marks
canny_edge_detection/CMakeFiles/TargetDirectories.txt
canny_edge_detection/CMakeFiles/3.17.0/CMakeCCompiler.cmake
canny_edge_detection/CMakeFiles/3.17.0/CMakeCXXCompiler.cmake
canny_edge_detection/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
canny_edge_detection/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_CXX.bin
canny_edge_detection/CMakeFiles/3.17.0/CMakeSystem.cmake
canny_edge_detection/CMakeFiles/3.17.0/CompilerIdC/a.out
canny_edge_detection/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
canny_edge_detection/CMakeFiles/3.17.0/CompilerIdCXX/a.out
canny_edge_detection/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
canny_edge_detection/CMakeFiles/canny_edge_detection.dir/build.make
canny_edge_detection/CMakeFiles/canny_edge_detection.dir/cmake_clean.cmake
canny_edge_detection/CMakeFiles/canny_edge_detection.dir/CXX.includecache
canny_edge_detection/CMakeFiles/canny_edge_detection.dir/depend.internal
canny_edge_detection/CMakeFiles/canny_edge_detection.dir/depend.make
canny_edge_detection/CMakeFiles/canny_edge_detection.dir/DependInfo.cmake
canny_edge_detection/CMakeFiles/canny_edge_detection.dir/flags.make
canny_edge_detection/CMakeFiles/canny_edge_detection.dir/link.txt
canny_edge_detection/CMakeFiles/canny_edge_detection.dir/progress.make
find_dominant_color/cmake_install.cmake
find_dominant_color/CMakeCache.txt
find_dominant_color/Makefile
find_dominant_color/CMakeFiles/cmake.check_cache
find_dominant_color/CMakeFiles/CMakeDirectoryInformation.cmake
find_dominant_color/CMakeFiles/CMakeOutput.log
find_dominant_color/CMakeFiles/Makefile.cmake
find_dominant_color/CMakeFiles/Makefile2
find_dominant_color/CMakeFiles/progress.marks
find_dominant_color/CMakeFiles/TargetDirectories.txt
find_dominant_color/CMakeFiles/3.17.0/CMakeCCompiler.cmake
find_dominant_color/CMakeFiles/3.17.0/CMakeCXXCompiler.cmake
find_dominant_color/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_C.bin
find_dominant_color/CMakeFiles/3.17.0/CMakeDetermineCompilerABI_CXX.bin
find_dominant_color/CMakeFiles/3.17.0/CMakeSystem.cmake
find_dominant_color/CMakeFiles/3.17.0/CompilerIdC/a.out
find_dominant_color/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
find_dominant_color/CMakeFiles/3.17.0/CompilerIdCXX/a.out
find_dominant_color/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
find_dominant_color/CMakeFiles/dominant_colors.dir/cmake_clean.cmake
find_dominant_color/CMakeFiles/dominant_colors.dir/CXX.includecache
find_dominant_color/CMakeFiles/dominant_colors.dir/depend.internal
find_dominant_color/CMakeFiles/dominant_colors.dir/depend.make
find_dominant_color/CMakeFiles/dominant_colors.dir/DependInfo.cmake
find_dominant_color/CMakeFiles/dominant_colors.dir/flags.make
find_dominant_color/CMakeFiles/dominant_colors.dir/progress.make
find_dominant_color/CMakeFiles/dominant_colors.dir/link.txt
find_dominant_color/CMakeFiles/dominant_colors.dir/dominant_colors.cpp.o
canny_edge_detection/CMakeFiles/canny_edge_detection.dir/canny_edge_detection.cpp.o
canny_edge_detection/front-left-side-47.jpg
find_dominant_color/classification.png
find_dominant_color/palette.png
find_dominant_color/quantized.png
find_dominant_color/CMakeFiles/dominant_colors.dir/build.make
canny_edge_detection/CMakeLists.txt
find_dominant_color/palette.png
find_dominant_color/classification.png
find_dominant_color/classification.png
find_dominant_color/classification.png
find_dominant_color/CMakeLists.txt
find_dominant_color/dominant_colors
